<!DOCTYPE html>
<html>
    <head>        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Crash Course Physics and Computer Science">
        <meta name="author" content="Rodrigo Nobrega">
        <link rel="icon" href="http://getbootstrap.com/favicon.ico">

        <!--Google Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Acme|Montserrat|Slabo+27px" rel="stylesheet">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Bootstrap theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Customised stylesheet -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'Physics/style.css' %}" type="text/css">
        
        <!-- Head Block to be replaced -->
        {% block head %}
            <title>Crash</title>
        {% endblock %}

    </head>


<body data-feedly-mini="yes">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">Crash</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="http://getbootstrap.com/examples/theme/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Physics <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'exercise_list' %}">Exercises</a></li>
                <li><a href="{% url 'vector_list' %}">Vectors</a></li>
                <!--<li><a href="http://getbootstrap.com/examples/theme/#">Another action</a></li>
                <li><a href="http://getbootstrap.com/examples/theme/#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="http://getbootstrap.com/examples/theme/#">Separated link</a></li>
                <li><a href="http://getbootstrap.com/examples/theme/#">One more separated link</a></li>-->
            </ul>
        </li>
        <li><a href="{% url 'computer_home' %}">Computer Science</a></li>
        <!--<li><a href="http://getbootstrap.com/examples/theme/#contact">Contact</a></li>-->        
        </ul>
        </div><!--/.nav-collapse -->
        </div>
    </nav>

    <!-- container -->
    <div class="container theme-showcase" role="main">

        <!-- Body block to be replaced on each individual page -->
        {% block body %}
        {% endblock %}
        <!---->

        <div class="page-header">
        <h1>Info</h1>
        </div>
        <div class="well">
        <small>v1.108 © Rodrigo Nobrega - June 2017</small>
        </div>

    </div>  <!--/container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'Physics/jquery.min.js.download' %}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'Physics/bootstrap.min.js.download' %}"></script>
    <script src="{% static 'Physics/docs.min.js.download' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'Physics/ie10-viewport-bug-workaround.js.download' %}"></script>
    <svg xmlns="http://www.w3.org/2000/svg" width="1140" height="500" viewBox="0 0 1140 500" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="57" style="font-weight:bold;font-size:57pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thirdslide</text></svg><div id="feedly-mini" title="feedly Mini tookit"></div>

</body>

</html>