
{% extends 'base.html' %}

  <head>
    {% block head%}
      <title>Exercises</title>
    {% endblock%}
  </head>

  <body>
    

      <!-- Main block to replace base.html -->
      {% block body%}

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Exercises</h1>
        <p>Exercises of Physics books: Tipler & Mosca, and Halliday & Resnick</p>
      </div>

      <!-- Create new Exercise -->
      <div class="page-header">
        <h1>New Exercise</h1>
      </div>
      
      <div class="row">
      <!-- Form with Exercise -->
      <div class="col-md-6">
      <p>Enter the Exercise details</p>
      <form  method="POST" class="form-inline">
        <table class="table-condensed">
          {% csrf_token %}
          {{ exercise_form }}
          <tr>
            <td><button type="submit" class="btn btn-default">Create</button></td>
          </tr>
        </table>    
      </form>
      </div>
      </div>

      <!-- List of Exercises -->
      <div class="page-header">
        <h1>Exercises List</h1>
      </div>
      <div class="row">
        <table class="table table-hover">
        <tr>
          <td><strong>ID</strong></td>
          <td><strong>Book</strong></td>
          <td><strong>Volume</strong></td>
          <td><strong>Chapter</strong></td>
          <td><strong>Page</strong></td>
          <td><strong>Exercise</strong></td>
        </tr>
        {% for exercise in exercise_list %}
        <tr>
          <td>{{ exercise.id }}</td>
          <td>{{ exercise.book }}</td>
          <td>{{ exercise.volume }}</td>
          <td>{{ exercise.chapter }}</td>
          <td>{{ exercise.page }}</td>
          <td>{{ exercise.exercise }}</td>
        </tr>
        {% endfor %}
        </table>
      </div>
      
      {% endblock%}

 </body>

