
{% extends 'base.html' %}

  <head>
    {% block head%}
      <title>Home Page</title>
    {% endblock%}
  </head>

  <body>
    {% block body%}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Crash</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="./index.html">Physics</a></li>
            <li><a href="http://getbootstrap.com/examples/theme/#about">Computer Science</a></li>
            <!-- <li><a href="http://getbootstrap.com/examples/theme/#contact">Contact</a></li>
            <li class="dropdown">
              <a href="http://getbootstrap.com/examples/theme/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://getbootstrap.com/examples/theme/#">Action</a></li>
                <li><a href="http://getbootstrap.com/examples/theme/#">Another action</a></li>
                <li><a href="http://getbootstrap.com/examples/theme/#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="http://getbootstrap.com/examples/theme/#">Separated link</a></li>
                <li><a href="http://getbootstrap.com/examples/theme/#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Crash</h1>
        <p>CrashCourse - Concepts of Physics and Computer Science implemented in Python. Based on <a href="https://www.youtube.com/user/crashcourse">CrashCourse</a> and two Physics workbooks: Tipler & Mosca and Halliday & Resnick.</p>
      </div>


      <div class="page-header">
        <h1>Topics</h1>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Physics</h3>
            </div>
            <div class="panel-body">
              Methods and exercises from CrashCourse Physics, Tipler & Mosca and Halliday & Resnick.
            </div>
            <div class="list-group">
              <a href="#" class="list-group-item">International Standard SI Units and Prefixes</a>
              <a href="#" class="list-group-item">Vectors</a>
              <a href="#" class="list-group-item">Morbi leo risus</a>
              <a href="#" class="list-group-item">Porta ac consectetur ac</a>
              <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-md-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Computer Science</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
            <div class="list-group">
              <a href="#" class="list-group-item">Cras justo odio</a>
              <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item">Morbi leo risus</a>
              <a href="#" class="list-group-item">Porta ac consectetur ac</a>
              <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>
      </div>  <!--/container -->
      {% endblock%}

 </body>

