
{% extends 'base.html' %}

  <head>
    {% block head%}
      <title>Vectors</title>
    {% endblock%}
  </head>

  <body>
    

      <!-- Main block to replace base.html -->
      {% block body%}

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Vectors</h1>
        <p>The vectors page. Mind the arrows.</p>
      </div>

      <!-- Create new vector -->
      <div class="page-header">
        <h1>New Vector</h1>
      </div>
      
      <div class="row">
      <!-- Form with Magnitude and Angle -->
      <div class="col-md-6">
      <p>Using Magnitude (m) and angle (theta)</p>
      <form  method="POST" class="form-inline">
        <table class="table-condensed">
          {% csrf_token %}
          {{ vector_formMT }}
          <tr>
            <td><button type="submit" class="btn btn-default">Create</button></td>
          </tr>
        </table>    
      </form>
      </div>

      <!-- Form with X and Y components -->
      <div class="col-md-6">
      <p>Using horizontal and vertical (x and y) components</p>
      <form  method="POST" class="form-inline">
        <table class="table-condensed">
          {% csrf_token %}
          {{ vector_formXY }}
          <tr>
            <td><button type="submit" class="btn btn-default">Create</button></td>
          </tr>
        </table>      
      </form>
      </div>
      </div>

      <!-- List of vectors -->
      <div class="page-header">
        <h1>Vectors List</h1>
      </div>
      <div class="row">
        <table class="table table-hover">
        <tr>
          <td><strong>ID</strong></td>
          <td><strong>Vector name</strong></td>
          <td><strong>Magnitude m</strong></td>
          <td><strong>Angle theta</strong></td>
          <td><strong>Component x</strong></td>
          <td><strong>Component y</strong></td>
        </tr>
        {% for vector in vector_list %}
        <tr>
          
          <td><a href="{% url 'vector_num' vector.id %}">{{ vector.id }}</a></td>
          <td>{{ vector.name }}</td>
          <td>{{ vector.m }}</td>
          <td>{{ vector.theta }}</td>
          <td>{{ vector.x }}</td>
          <td>{{ vector.y }}</td>
          
        </tr>
        {% endfor %}
        </table>
      </div>
      
      {% endblock%}

 </body>

