
{% extends 'base.html' %}

  <head>
    {% block head%}
      <title>Vectors</title>
    {% endblock%}
  </head>

  <body>
    
 


      <!-- Main block to replace base.html -->
      {% block body%}

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Vectors</h1>
        <p>The vectors page. Mind the arrows.</p>
      </div>

      <!-- Create new vector -->
      <div class="page-header">
        <h1>New Vector</h1>
      </div>
      
      <form class="form-inline">
        <table class="table-condensed">
          <tr>
            <td><label for="vectorInputName">Vector name</label></td>
            <td><label for="vectorMagnitude">Magnitude</label></td>
            <td><label for="vectorAngle">Angle</label></td>
            <td><label for="vectorX">Component x</label></td>
            <td><label for="vectorY">Component y</label></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id="vectorInputName" placeholder="Vn"></td>
            <td><input type="number" step="0.001" class="form-control" id="vectorMagnitude" placeholder="m"></td>
            <td><input type="number" step="0.001" class="form-control" id="vectorAngle" placeholder="theta"></td>
            <td><input type="number" step="0.001" class="form-control" id="vectorX" placeholder="x"></td>
            <td><input type="number" step="0.001" class="form-control" id="vectorY" placeholder="y"></td>
          </tr>
          <tr>
            <td><button type="submit" class="btn btn-default">Calculate and Store</button></td>
          </tr>
        </table>      
      </form>
      

      <!-- List of vectors -->
      <div class="page-header">
        <h1>Vectors List</h1>
      </div>
      <div class="row">
        <table class="table table-hover">
        <tr>
          <td><strong>ID</strong></td>
          <td><strong>Vector name</strong></td>
          <td><strong>Magnitude m</strong></td>
          <td><strong>Angle theta</strong></td>
          <td><strong>Component x</strong></td>
          <td><strong>Component y</strong></td>
        </tr>
        {% for vector in vector_list %}
        <tr>
          <td>{{ vector.id }}</td>
          <td>{{ vector.name }}</td>
          <td>{{ vector.m }}</td>
          <td>{{ vector.theta }}</td>
          <td>{{ vector.x }}</td>
          <td>{{ vector.y }}</td>
        </tr>
        {% endfor %}
        </table>
      </div>
      
      {% endblock%}

 </body>

